@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
}
.hide-scrollbar {
  /* For Firefox */
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  /* For Chrome, Safari, and Opera */
  display: none;
  width: 0px; /* Ensures no space is left behind */
  height: 0px;
}